@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans:700i');
#principal {
 background-color: #b9b6b6;
}
body {


    font-family: 'Quattrocento Sans', sans-serif;

    font-family: 'Quattrocento', serif;

