h1{
    background-color:#34495e;
    color:white;
}
p{
    color:#34495e;
    margin-left: 20px;
}
a{
    color:#1abc9c;
}
table h1{
    background-color: #f1c40f;
    color:#34495e;
}
th[rowspan]{
    background-color: #34495e;
    color: #ffff;
}
th a{
      color: #f1c40f;
}
h2+p{
    background-color:#f1c40f ;
    margin-left: 20px;
}

tr:last-child{
    background-color: #34495e;
    color: #fff;
}

tr:nth-child(even){
    background-color: #bdc3c7;
    color: #34495e;
}


